{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="text-box">
    <h2>Welcome</h2>
    <p>
        Thank you very much for participating in the "{{ eval_name }}" evaluation of SynVAE.
    </p>
    <p>
        In this research project, we are trying to automatically translate images into music using a machine learning model. It tries to find a musical "language" so that similar looking images should also translate into similar sounding music. For example, this might mean that green images translate into fast music and purple images into slow music. When presented with a piece of slow music, we can then be fairly certain that its corresponding image is more purple than green.
    </p>
    <p>
        The evaluation process is pretty straightforward and should only take about 10 minutes:
        <ol>
            <li>First, we'll look at some example images and the music that was generated based on them. Keep in mind that this might not match your intuitions since everyone has very different ideas of what an image actually should sound like.</li>
            <li>Next, we'll present you with one audio and a selection of images. Your task will be to choose the image which you think the model has used as "inspiration".</li>
        </ol>
    </p>
    <p>
        Please make sure you have enough time to complete the evaluation in one go since a session automatically ends after 10 minutes of inactivity. Also, check now whether you can hear the example audio below and adjust your device's volume if necessary.
    </p>
    <p style="text-align: center;">
        <audio controls>
            <source src="{{ url_for('static', filename='example.wav') }}" type="audio/wav">
            Your browser does not seem to support audio playback.
        </audio>
    </p>
    <p>
        During the evaluation, a session cookie will help keep track of progress. As for your responses, they will be stored anonymously and since we don't record anything besides the actual responses, no data will be directly traceable to you.
    </p>
    {% if eval_disclaimer %}
    <p>
        {{ eval_disclaimer }}
    </p>
    {% endif %}
    <p>
        If you agree with the procedure and terms above, let's begin!
    </p>
    <div class="main-button-box">
        <a class="button" href="{{ url_for('examples.index') }}">
            Start
        </a>
    </div>
</div>
{% endblock %}
